{% if personal.facebook %}
<div class="{{item_class}}"><a href="https://www.facebook.com/{{personal.facebook}}"><div class="icon facebook"></div></a></div>
{% endif %}
{% if personal.twitter %}
<div class="{{item_class}}"><a href="https://twitter.com/{{personal.twitter}}"><div class="icon twitter"></div></a></div>
{% endif %}
{% if personal.gplus %}
<div class="{{item_class}}"><a href="https://plus.google.com/{{personal.gplus}}"><div class="icon gplus"></div></a></div>
{% endif %}
<!--
{% if personal.instagram %}
<div class="{{item_class}}"><a href="https://instagram.com/{{personal.instagram}}"><div class="icon instagram"></div></a></div>
{% endif %}
-->
