%%-*-erlang-*-
[
 #{
    title => "LA Marathon 2014 I",
    type => "youtube",
    embed_id => "oh1RqJ5W1Qo",
    thumbnail => "thumb-compassion.jpg",
    tags => "all promo"
  },
 #{
    title => "LA Marathon 2014 II",
    type => "youtube",
    embed_id => "kiYfzz9lpLo",
    thumbnail => "thumb-addicted.jpg",
    tags => "all promo"
  },
 #{
    title => "LA Marathon 2014 III",
    type => "youtube",
    embed_id => "MJ3MuW5extI",
    thumbnail => "thumb-determination.jpg",
    tags => "all promo"
  },
 #{
    title => "LA Marathon 2015",
    type => "youtube",
    embed_id => "eHSVvkeQGH8",
    thumbnail => "Marathon-2015.png",
    tags => "all promo"
  },
 #{
    title => "Evolution",
    type => "youtube",
    embed_id => "K7owaOR3h_Y",
    thumbnail => "thumb-evolution.jpg",
    tags => "all promo"
  },
 #{
    title => "Urban Farming",
    type => "youtube",
    embed_id => "I4VtHV4FuWA",
    thumbnail => "UrbanFarming.png",
    tags => "all promo"
  },
 #{
    title => "Snow Summit Snowboarding",
    type => "youtube",
    embed_id => "MPhGNY8H7OM",
    thumbnail => "SnowSummitSnowboarding.png",
    tags => "all promo"
  },
 #{
    title => "Jon Esformes Tribute",
    type => "youtube",
    embed_id => "43CDTo-jjx8",
    thumbnail => "JonEsformesTribute.png",
    tags => "all promo"
  },
 #{
    title => "Vista Del Mar Homecoming",
    type => "youtube",
    embed_id => "zmRqIeosQ5Y",
    thumbnail => "VistaReunion.png",
    tags => "all promo"
  },
 #{
    title => "Giving Tuesday",
    type => "youtube",
    embed_id => "yafteBw2dQQ",
    thumbnail => "Giving-Tues.png",
    tags => "all promo"
  },
 #{
    title => "American Jewish University",
    type => "youtube",
    embed_id => "JlnC_WeF234",
    thumbnail => "AmericanJewishUniv.png",
    tags => "all promo"
  },
 #{
    title => "The Hills Outpatient Center",
    type => "youtube",
    embed_id => "Trpg4ai9oYI",
    thumbnail => "TheHillsOutpatient.png",
    tags => "all promo"
  },
 #{
    title => "Vista Del Mar Music Video",
    type => "youtube",
    embed_id => "EgNkfbQjCzk",
    thumbnail => "VistaDelMarMusicVideo.png",
    tags => "all promo"
  },
 #{
    title => "Harvest Dinner",
    type => "youtube",
    embed_id => "i8ma4k21zcM",
    thumbnail => "HarvestDinner.png",
    tags => "all promo"
  },
 #{
    title => "Haiti Fund Raiser",
    type => "youtube",
    embed_id => "WLq853zBEgo",
    thumbnail => "Haiti.png",
    tags => "all promo"
  },
 #{
    title => "Marathon Teaser Trailer",
    type => "youtube",
    embed_id => "l1E96z09c6I",
    thumbnail => "HolyThief.png",
    tags => "all promo"
  },
 #{
    title => "My Pants",
    type => "youtube",
    embed_id => "YuMMarcAWAE",
    thumbnail => "MyPants.png",
    tags => "all short"
  },
 #{
    title => "OCD",
    type => "youtube",
    embed_id => "khxl5wMFWEw",
    thumbnail => "OCD.png",
    tags => "all short"
  },
 #{
    title => "Distant Voice",
    type => "youtube",
    embed_id => "ZiwjwqGae-o",
    thumbnail => "DistantVoice.png",
    tags => "all short"
  }
].
